/* =========================================
   CONFIGURACIÓN INICIAL
   ========================================= */

   code, pre {
    font-family: 'Fira Code', monospace;
    color: blue; /* Usamos crimson para destacar código */
    background-color: gainsboro; /* Fondo gris suave para resaltar */
    padding: 2px 4px;
    border-radius: 4px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.box {
    width: 270px;
    background-color: #e3e3e3;
    margin: auto;
    margin-top: 3%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    /* --------------- BOX SHADOW ------------ */
    box-shadow: 0 0 40px 0 #0007;
    color: #999;
}

.box h2 {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    
    /* ------------------ TEXT SHADOW -------------- */
    text-shadow: 0 0 16px #00f7;
    
    
}

.box p {
    line-height: 1.4;
    font-size: 13px;
    text-shadow: 0 0 10px #00f7;
    text-align: left;
}

img {
    width: 160px;
    
    border-radius: 100%;

    /* ----------------- DROP SHADOW --------------- (para imagenes transparentes) */
    filter: drop-shadow(0px 0px 10px #00f9);
}