/* =========================================
   CONFIGURACIÓN INICIAL
   ========================================= */

code, pre {
    font-family: 'Fira Code', monospace;
    color: blue; /* Usamos crimson para destacar código */
    background-color: gainsboro; /* Fondo gris suave para resaltar */
    padding: 2px 4px;
    border-radius: 4px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-image: radial-gradient(#444,#222);
    color: #eee;
}

.section {
    width: 80vw;
    margin: 40px auto;
    padding: 20px;
    background: #4448;
    color: #eee;
    border-radius: 20px;
    border: 3px solid #eee8
}

a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 20px;
    background-color: #6668;
    color: #eee;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px #0008;
}

a:hover {
    background-color: #9998;
    box-shadow: 0px 0px 20px 3px #6668;
}

h1 {
    text-align: center;
}