/* =========================================
   CONFIGURACIÓN INICIAL
   ========================================= */

   code, pre {
    font-family: 'Fira Code', monospace;
    color: blue; /* Usamos crimson para destacar código */
    background-color: gainsboro; /* Fondo gris suave para resaltar */
    padding: 2px 4px;
    border-radius: 4px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    /* Padding general para que no quede pegado al borde del navegador */
    padding-bottom: 100px; 
}

hr {
    border: none;
    height: 1px;
    width: 90%;
    margin: 40px auto;
    background-color: navy;
    border-radius: 2px;
}

/* IMPORTANTE: box-sizing: border-box
   
   Esta propiedad es fundamental para el Box Model moderno.
   Sin ella: si tienes 300px de ancho y agregas 20px de padding, la caja crece a 340px.
   Con ella: el ancho final se mantiene en 300px y el padding se mete "hacia adentro".
   
   Facilita mucho los cálculos matemáticos en el diseño.
*/

.formulario {
    display: inline-block;
    background-color: lightskyblue;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 3px;
}

.formulario_input {
    color: black;
    background-color: lightskyblue;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;

}

.formulario_submit {
    letter-spacing: 2px;
    background-color:  dodgerblue;
    text-transform: uppercase;
    width: 50%;

    display: block;
    margin: 0 auto;
}

/* 

CAJAS CON MARGIN 

Se puede ver el colapso de margenes claramente, cada caja tiene 10px de margene a cada lado, sin embargo si miramos como se ve en el navegador entre la primer caja y la segunda no hay 20px de espacio entre ellas y lo mismo sucede entre la segunda caja y la tercera (esto es el colapso de margen)

Cuando tenemos una elemento con margen-bottom y debajo un elemento con margen-top el navegador se queda con el espacio mas grande (esto lo hace para que los espacios no sean excesivos)
*/

.box {
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    margin:10px;
     /* Simulación visual del margen - al margen no se le pueden poner colores (es un espacio vacio)*/
    box-shadow: 0 0 0 10px #ff6347aa;
}

/* SECCION DE CARD */

.card-container {
    padding: 30px;
    background-color: black;
    color: white;
}
.card {
    background-color: coral;
    text-align: center;
    width: 350px;
}

.card h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top:0;
    padding-top: 14px;
}
.card h4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.card p {
    margin: 0;
    font-size: 14px;
    padding: 25px;
    background-color: lightcoral;
    text-align: justify;
}