/* =========================================
   CONFIGURACIÓN INICIAL
   ========================================= */

   code, pre {
    font-family: 'Fira Code', monospace;
    color: blue;
    background-color: gainsboro; /* Fondo gris suave para resaltar */
    padding: 2px 4px;
    border-radius: 4px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #900;
    color: #eee;
    margin: 0;
}

/* =========================================
Gradient
========================================= */

.box {
    padding-top: 40px;
    max-width: 100vw;
    margin: 0;
    text-align: center;
}

.box-card {
    max-width: 40vmax;
    min-width: 280px;

    /* --------------------- Linear gradient ------------------- */

    background-image: linear-gradient(to bottom, #111c, #1117, #1111);
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 30px #0008;
}

.box-card p {
    text-align: justify;
    line-height: 1.7;
}

.box-card div {
    margin: 10px 0;
    height: 50px;
    position:relative;
}

.box-card h1 {
    margin: 0;
    margin-bottom: 30px;
}

.box-card-links{
    vertical-align: top;
    color: #777;
    background-color: #3338;
    text-decoration: 0;
    padding: 10px 14px;
    border-radius: 25px;
    font-weight: 400;
    border: 1px solid #7776;

    /* ---------- Transition -------- */

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        border-color 0.25s ease;
    
}

.box-card-links:hover {
    background-color: #333b;
    color: #aaa;
    border-color: #aaa;
}

.box-card-links:active {
    background-color: #6008;
    color: #900;
    border-color: #700;

        /* transición más lenta “tipo relleno” */
    transition:
        background-color 0.8s ease,
        color 0.8s ease,
        border-color 0.8s ease;
}

.left {
    position:absolute;
    left: 10px;
}


.right {
    position:absolute;
    right: 10px;
}

/*
=========================================
Radial Gradient
=========================================
*/

.gradient-radial{
    background-image: radial-gradient(#1111, #111c);
}