/* =========================================
   CONFIGURACIÓN INICIAL
   ========================================= */

   code, pre {
    font-family: 'Fira Code', monospace;
    color: blue; /* Usamos crimson para destacar código */
    background-color: gainsboro; /* Fondo gris suave para resaltar */
    padding: 2px 4px;
    border-radius: 4px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    /* Padding general para que no quede pegado al borde del navegador */
    padding-bottom: 100px; 
}

/* =========================================
   ESTILOS DE LA CAJA DE ENLACES (Link Box)
   ========================================= */

.link-box {
    /* Coloracion  */

    background-color: azure;
    border: 1px solid lightskyblue;
    border-left: 5px solid dodgerblue;

    /* Espaciado */

    padding: 20px;
    margin: 30px 20px 0 20px;
    border-radius: 5px;
}

.link-box h3 {
    /* Coloracion  */
    color: navy;

    /* Espaciado */
    margin-top: 0;
    margin-bottom: 15px;
}

.link-box ul {
    list-style-type: none;
    padding: 0;
}

.link-box li {
    /* Coloracion  */
    background-color: whitesmoke;
    border: 1px solid lightskyblue;

    /* Espaciado */
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 15px;
}

.link-box a {
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.info-box {
    background-color: #ee8;
    padding: 20px;
    border-left: 5px solid #aa3;
}

.info-box p {
    color: #aa3;
    font-size: 16px;
    font-weight: 400;
}

/* =========================================
   Unidades de Medida
   ========================================= */

.exemple {
    width: 500px;
    box-sizing: border-box;
    background-color: #ededed;
    padding: 20px;
    border-left: 5px solid #999;
    font-size: 14px;
}

.exemple strong {
    margin: 0;
    font-size: 24px;
}

.exemple span {
    color: #999;
    font-size: 16px;
    font-weight: 400;
}

.exemple p {
    color: #555;
    text-align: justify;
    width: 90%; /* El width del elemento padre es 500px, entonces 90% equivaldria a 450px */ 
    font-size: 1em; /* equivalente a 14px */
}

/*
    Si al poner em el elemento padre no tiene font-size va seguir subiendo en el arbol hasta encontrar un elemento con font-size.

    hijo -> padre -> abuelo -> tatarabuelo -> ... asi hasta encontrar un font-size

*/
